/* Dark Mode Styling */
body {
  background-color: #121212; 
  font-family: 'Poppins', sans-serif;
  color: #E0E0E0; 
}

.container{
  width: 90%;
  height: fit-content;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

#form {
  width: 360px;
  padding: 2rem;
  background-color: #1F1F1F; 
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
}

#form h1 {
  color: #BB86FC;
  text-align: center;
  font-size: 44px;
  margin-bottom: 1.5rem;
}

.input-control {
  margin-bottom: 1.5rem;
}

.input-control label {
  color: #E0E0E0;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

.input-control input {
  border: 2px solid #333; 
  background-color: #2C2C2C; 
  color: #E0E0E0; 
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  font-size: 1rem;
}

.input-control input:focus {
  border-color: #BB86FC;
  outline: none;
}

.input-control.success input {
  border-color: #09c372; 
}

.input-control.error input {
  border-color: #CF6679; 
}

.input-control .error {
  color: #CF6679; /* Light red text */
  font-size: 0.875rem;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #BB86FC; 
  color: #121212; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9B59B6; 
}

.already-registered {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: #999;
}

.already-registered a {
  color: #BB86FC;
  text-decoration: none;
}

.already-registered a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 480px) {
  #form {
    width: 90%;
  }

  #form h1 {
    font-size: 36px;
  }

  button {
    font-size: 0.9rem;
  }
}
